.App {
  text-align: center;
}
button {
  padding: 10px 15px;
  background-color: #a421be;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}



ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Grid adaptable */
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Estilo para cada tarea (celda) */
li {
  background-color: #2980b9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(8, 204, 90, 0.2);
}



.App {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button:hover {
  background-color: #1abc9c;
}


body {
  background-color: #097ac5; /* Fondo azul */
  color: white; /* Color de texto blanco */
  font-family: Arial, sans-serif; /* Fuente por defecto */
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
